.home {
  background-image: url('../../assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgPix {
  width: 30%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}
.overlay {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin: 0;
}

.switch {
  padding: 20px;
}

.button {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  width: 100%;
}

.button:hover {
  background-color: #8fbc8f;
}
